<h2 class="page-header">Search Authors</h2>
<form action="/authors" method="GET">
<div class="form__row">
  <div class="form__item">
      <label>Name</label>
      <input type="text" name="name" value="<%= searchOptions.name %>">
  </div>
</div>

 <div class="form__row form__row--end">
    <button class="btn btn__primary" type="submit">Search</button>
  </div>
</form>
<br>
<% authors.forEach(author => { %>
<div class="author__row">
  <div class="author__name"><%= author.name %></div>

  <div class="btn__row">
    <a class="btn btn__primary" href="/authors/<%= author.id %>">View</a>
    <a class="btn btn__primary" href="/authors/<%= author.id %>/edit">Edit</a>
    <%- include('../partials/delete-form',
              { url: `/authors/${author.id}`})%>
  </div>
</div>
  <% }) %>
