<h2><%= author.name %></h2>
<a href="/author/<%= author.id %>/edit">Edit</a>
<%- include('../partials/delete-form', 
            { url : `/authors/${author.id}`})%>
<% if (booksByAuthor.length > 0) { %>
    <h2>Books by Author</h2>
    <% booksByAuthor.forEach(book => { %>
    <a href="/books/<%= book.id %>">
      <img height="150" width="100" src="<%= book.coverImagePath %>">
    </a>
  <% }) %>
<% }%>